.mainContainer{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header{
    width: 100%;
    text-align: center;
    background-color: #031D44;
    color:#EFF6EE;
    font-weight: bold;
    font-size:3em;
    font-family: Helvetica, sans-serif;
    height:4em;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 12px gray;
}
.mainHeader{
    margin:auto;
}

.navbar{
    text-align: center;
    width: 100%;
    background-color: #DD0426;
    box-shadow: 0 3px 12px gray;
    font-size: 1.5em;
    margin-bottom:3em;
}
.nav-link{
    font-weight: bold;
    color: white;
    font-size:1.2em;
}
.historyContainer{
    border: 3px solid black;
    width: 50%;
    height: auto;
    margin: auto;
    background-color: #9197AE;
}
.title{
    border-bottom: 3px solid black;
    font-weight: bold;
    text-align: center;
    background-color: #031D44;
    color:white
}
.nbaHistory{
    font-weight: bold;
    font-size: 1.3em;
    color:white;
    width: 60%;
    text-align: center;
    margin:auto;
}
.logo{
    width: 20em;
    height: auto;
    align-self: center;
    outline: none;
}
.logoContainer{
    bottom:0;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoExplain{
    text-align:center;
    font-weight: bold;
    color:white;
    font-size: 1.2em;
}
.logButton{
    width:7em;
    height: 2em;
    background-color: #DD0426;
    color:white;
    border:2px solid black;
    font-size: 0.5em;
}